In [1]:
import math
import random
from collections import defaultdict
from pprint import pprint

In [2]:
# Prevent future/deprecation warnings from showing in output
import warnings
warnings.filterwarnings(action='ignore')

In [3]:
import numpy as np
import pandas as pd
import string
import nltk

In [4]:
## Read text from a file

In [7]:
filename = 'sakaja.txt'

In [10]:
with open(filename) as f:
    contents = f.read()
    f.close()

contents

'\nBy\xa0\nNdubi Moturi\n\n\n\n\n“Mimi ni Johnson Sakaja, and together we are the Sakajas. Kuna kitu tunataka kutaja. \xa0So keep plugged in like a charger. Because corona has come larger than NIC, CBA merger….”\n\nIn a viral video released\xa0during the Covid-19 pandemic, Nairobi Senator Johnson Sakaja excited social media with a creative rap video featuring his two sons.\n\nAlthough he appears to have gotten his lyrics right, there’s one thing that the 37-year-old \xa0"\'super-senator" has not quite mastered; watching his mouth.\n\nHis recent struggle to fight against disqualification from the Nairobi gubernatorial race has cast a shadow of a man who always eats his own words.\n\nNot even his ‘management degree’ from Team University in Uganda would have helped him learn how to carefully manage his utterances in public.\xa0\n\nA few months after releasing the rap hit, Sakaja was arrested for breaking the same rules that he was encouraging people not to break.\n\nBut Sakaja is not the one who bows down easily, he vehemently denied the claims that he was arrested at\xa0Ladies Lounge in Kilimani for violating the government directions on Covid19.\n\n“Never been arrested. Won’t be. Show me an OB Number,” he tweeted a few hours later.\n\nAfter pressure mounted on him, Mr Sakaja would step down as the chair of the Senate ad hoc committee on Covid-19 pandemic and apologise for misleading Kenyans.\n\nIn his speech, he would acknowledge that he had indeed broken the same rules that he was expected to guard.\n\n“That is not my character. If it was just about been outside after nine, which would be one thing. I take responsibility for having flouted the Covid-19 rules. I was outside my home past 9pm. It is regrettable but all of us make mistakes,” he said at the time.\n\nHe is currently at the center of controversy after it emerged that he did not complete his Actuarial Science degree from University of Nairobi as he claimed earlier. His inconsistencies in relation to his studies have exposed him to the court of public opinion.\n\nIn his previous utterances, Mr Sakaja had romanticized how he was a top student right from his high school up until the University of Nairobi where he studied his Actuarial Science degree.\n\n“During my Form 2, I decided to work very hard. I would wake up at 4am to go and read in class. From that time henceforth my record remained exceptional. In fact if you go to Lenana School, nobody has beaten my Physics and English record,” he told Daniel Ndambuki aka Churchill in an interview last year.\n\nHis life in Nairobi Chiromo campus was also rosy, according to him, thanks to his student leadership position and his rich political networks.\n\n“I had a salon, a Kinyozi and I employed a lot of people in campus. Sometimes I also used to wash people’s clothes. From by businesses, I would raise over 6,000 per day. By the time I was in my fourth year I bought a Mercedes Benz from Senator Moses Wetangula at the cost of 500,000 shillings. I also had an apartment in Yaya where I used to stay after moving out of Chiromo,” he said in the interview.\n\nIn another interview with musician Nyashinski in September 2020, he also narrated his education journey saying he has never studied out of Kenya.\n\n“I have never gotten out of the country. I pursued my education in Kenya, from primary, high school to university,” he said.\n\nIt therefore beats logic how he enrolled for a degree in management from Team University in Uganda and completed it in one year.\n\nAfter claims that he did not complete his Actuarial Science the University of Nairobi emerged, he again denied the allegations and termed them “political”.\n\n“You will now hear some people saying that I was not born,” he said.\n\nOn whether he will survive the ongoing onslaught, it remains unclear.\n\nBut one thing the senator has taught is sometimes eating your own words can be bitter.\n\n\nWe come to you.\nWe are always looking for ways to improve our stories. Let us know what you liked and what we can improve on.\n\n\n\nThe woman’s husband, Mr Geofrey Otieno, had travelled out of Nairobi for work when the robbery happened.\n\n\nThe remarks appear to have irked Senator Malala who told his supporters that Dr Khalwale showed he was confused.\n\n\nIf you have an Ad-blocker please disable it and reload the page or try again later.\n\n\n\nNation Media Group © 2022\n\n\nWelcome!'

## Tekenize the content

In [13]:
from nltk.tokenize import word_tokenize

In [14]:
data = word_tokenize(contents.lower())

### Remove stop words

In [15]:
from nltk.corpus import stopwords

In [17]:
english_stopwords = stopwords.words('english')
t_data = [t for t in data if t not in english_stopwords]

### Stem the words

In [18]:
from nltk import PorterStemmer

In [19]:
ps = PorterStemmer()
token_data = [ps.stem(i) for i in t_data]

In [23]:
# Join tokenized words
token_text = ' '.join([str(item) for item in token_data])
token_text

"ndubi moturi “ mimi ni johnson sakaja , togeth sakaja . kuna kitu tunataka kutaja . keep plug like charger . corona come larger nic , cba merger…. ” viral video releas covid-19 pandem , nairobi senat johnson sakaja excit social media creativ rap video featur two son . although appear gotten lyric right , ’ one thing 37-year-old '' 'super-sen '' quit master ; watch mouth . recent struggl fight disqualif nairobi gubernatori race cast shadow man alway eat word . even ‘ manag degre ’ team univers uganda would help learn care manag utter public . month releas rap hit , sakaja arrest break rule encourag peopl break . sakaja one bow easili , vehement deni claim arrest ladi loung kilimani violat govern direct covid19 . “ never arrest . ’ . show ob number , ” tweet hour later . pressur mount , mr sakaja would step chair senat ad hoc committe covid-19 pandem apologis mislead kenyan . speech , would acknowledg inde broken rule expect guard . “ charact . outsid nine , would one thing . take respons flout covid-19 rule . outsid home past 9pm . regrett us make mistak , ” said time . current center controversi emerg complet actuari scienc degre univers nairobi claim earlier . inconsist relat studi expos court public opinion . previou utter , mr sakaja romantic top student right high school univers nairobi studi actuari scienc degre . “ form 2 , decid work hard . would wake 4am go read class . time henceforth record remain except . fact go lenana school , nobodi beaten physic english record , ” told daniel ndambuki aka churchil interview last year . life nairobi chiromo campu also rosi , accord , thank student leadership posit rich polit network . “ salon , kinyozi employ lot peopl campu . sometim also use wash peopl ’ cloth . busi , would rais 6,000 per day . time fourth year bought merced benz senat mose wetangula cost 500,000 shill . also apart yaya use stay move chiromo , ” said interview . anoth interview musician nyashinski septemb 2020 , also narrat educ journey say never studi kenya . “ never gotten countri . pursu educ kenya , primari , high school univers , ” said . therefor beat logic enrol degre manag team univers uganda complet one year . claim complet actuari scienc univers nairobi emerg , deni alleg term “ polit ” . “ hear peopl say born , ” said . whether surviv ongo onslaught , remain unclear . one thing senat taught sometim eat word bitter . come . alway look way improv stori . let us know like improv . woman ’ husband , mr geofrey otieno , travel nairobi work robberi happen . remark appear irk senat malala told support dr khalwal show confus . ad-block pleas disabl reload page tri later . nation media group © 2022 welcom !"

## create dataframe with cthe text content

In [24]:
data = {'text': token_text,
       'title': None}
 
# Create DataFrame
df = pd.DataFrame(data, index= [0])
df

                                                text title
0  ndubi moturi “ mimi ni johnson sakaja , togeth...  None

In [35]:
df

                                                   0     1
0  ndubi moturi “ mimi ni johnson sakaja , togeth...  None
1  ndubi moturi “ mimi ni johnson sakaja , togeth...  None
2  ndubi moturi “ mimi ni johnson sakaja , togeth...  None

In [32]:
ndf = pd.DataFrame(np.repeat(df.values, 3, axis=0))
ndf.columns = df.columns

## Save dataframe in a file

In [33]:
# save df in file
ndf.to_csv('predicting.csv')

In [34]:
ndf

                                                   0     1
0  ndubi moturi “ mimi ni johnson sakaja , togeth...  None
1  ndubi moturi “ mimi ni johnson sakaja , togeth...  None
2  ndubi moturi “ mimi ni johnson sakaja , togeth...  None
3  ndubi moturi “ mimi ni johnson sakaja , togeth...  None
4  ndubi moturi “ mimi ni johnson sakaja , togeth...  None
5  ndubi moturi “ mimi ni johnson sakaja , togeth...  None
6  ndubi moturi “ mimi ni johnson sakaja , togeth...  None
7  ndubi moturi “ mimi ni johnson sakaja , togeth...  None
8  ndubi moturi “ mimi ni johnson sakaja , togeth...  None